@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@model IEnumerable<Lab1.Models.ApplicationUser>

@{
    ViewBag.Page5 = "nav-item active";
    List<IdentityRole> roles = ViewBag.Roles;
}

<h2 class="display-4 mb-3">Администрирование</h2>

<div class="table-responsive">
    <table class="table table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th class="col align-middle text-center">
                    @Html.Label("ФИО")
                </th>
                <th class="col align-middle text-center">
                    @Html.Label("Дата рождения")
                </th>
                <th class="col align-middle text-center">
                    @Html.Label("Пол")
                </th>
                <th class="col align-middle text-center">
                    @Html.Label("Email")
                </th>
                <th class="col align-middle text-center">
                    @Html.Label("Телефон")
                </th>
                <th class="col align-middle text-center">
                    @Html.Label("Время блокировки")
                </th>
                <th class="col align-middle text-center">
                    @Html.Label("Возможность блокировки")
                </th>
                <th class="col align-middle text-center">
                    @Html.Label("Роли")
                </th>
                <th class="col align-middle text-center">@Html.Label("Управление")</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.Label(item.LastName + " " + item.FirstName + " " + item.MiddleName)
                </td>
                <td class="text-center">
                    <label>@item.BirthDay.ToString("dd.MM.yyyy")</label>
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.LockoutEnabled)
                </td>
                @{bool success = true;}
                <td class="text-center">
                    @foreach (IdentityUserRole role in item.Roles)
                    {
                        foreach(IdentityRole rol in roles)
                        {
                            if(rol.Id==role.RoleId)
                            {
                                @rol.Name<br/>
                                if(rol.Name=="admin")
                                {
                                    success = false;
                                }
                            }
                        }
                    }
                </td>
                <td class="text-center">
                    @if (success)
                    {
                        @Html.ActionLink("Блокировать", "Lock", new { UserID = item.Id })<br />
                        @Html.ActionLink("Разблокировать", "Unlock", new { UserID = item.Id })<br />
                    }
                </td>
            </tr>
        }

    </table>
</div>
