@model Lab1.Models.ChangePasswordViewModel
@{
    ViewBag.Page4 = "nav-item active";
}
<h2 class="display-4 mb-3">Смена пароля</h2>
@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
<div class="container alert alert-info" role="alert">
    <h4>Форма смены пароля</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row mb-2 align-items-end">
        <div class="col-lg-3 text-lg-right">
            @Html.LabelFor(m => m.OldPassword)
        </div>
        <div class="col-lg-9">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="row mb-2 align-items-end">
        <div class="col-lg-3 text-lg-right">
            @Html.LabelFor(m => m.NewPassword)
        </div>
        <div class="col-lg-9">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="row mb-2 align-items-end">
        <div class="col-lg-3 text-lg-right">
            @Html.LabelFor(m => m.ConfirmPassword)
        </div>
        <div class="col-lg-9">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="row mb-2">
        <div class="offset-lg-3 col-lg-9">
            <input type="submit" value="Смена пароля" class="btn btn-primary" />
        </div>
    </div>
</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}