@using Lab1.Models
@using Microsoft.AspNet.Identity
@model Article
@{
    ViewBag.Page2 = "nav-item active";
    ViewBag.Hidden = "hidden = \"hidden\"";
}

<h2 class="display-4 mb-3">Создание статьи</h2>
@if (Request.IsAuthenticated)
{
<div class="alert alert-primary col-12" role="alert">
    @Html.ValidationSummary("", new { @class = "text-danger mb-2" })
    @using (Html.BeginForm("Create", "Blogs", FormMethod.Post))
    {
        <div class="form-row">
            <div class="form-group col-md-3 cd-6">
                @Html.LabelFor(m => m.CategoryID)
                @Html.DropDownListFor(m => m.CategoryID, new SelectList(ViewBag.CategoryForLooking, "ID", "Name"), "--Выбрать--", new { @class = "form-control" })
            </div>
            <div class="form-group col-md-9  cd-6">
                @Html.LabelFor(m => m.Subject)
                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", @placeholder = "Введите тему статьи" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group mx-2">
                @Html.LabelFor(m => m.Text)
                @Html.TextAreaFor(m => m.Text, 6, 150, new { @class = "form-control", @placeholder = "Введите или скопируйте сюда текст статьи" })
            </div>
        </div>
        @Html.Hidden("AuthorID", User.Identity.GetUserId())
        @Html.Hidden("DT", DateTime.Now)
        <input type="submit" class="btn btn-primary mx-2" value="Сохранить" />
    }
</div>
}
else
{
    <div class="alert alert-danger col-12" role="alert">
        Для создания статьи необходимо <a href="/Account/Login">авторизоваться</a>
    </div>
}
